<!DOCTYPE html>
<html lang="pt-br">
    <%- include('shared/head') %>
<body>
    <%- include('shared/header') %>
    
 
    <section class=eventos>

            <h2>Conheça os Melhores Eventos de São Paulo</h2>
            <div class="fotos" >
                <% for(let evento of eventos){ %>
                <div>
                    <img src="<%= evento.img %>" alt="">
                        <h3><%= evento.nome %></h3>
                </div>
                <% } %>
            </div>
        
    </section>

    <%- include('shared/footer') %>
    
</body>
</html>